In [3]:
import pandas as pd

# Create an empty DataFrame with column names
df = pd.DataFrame(columns=['A', 'B'])

# Create an empty row with the same column names
empty_row = pd.Series(dtype='object', index=df.columns)

# Set the empty row to the DataFrame
df.loc[len(df)] = empty_row

df

     A    B
0  NaN  NaN

In [15]:
# Dynamically add a new column and assign values to it
new_column_name = 'C'
new_column_values = 1  # Example values

df[new_column_name] = new_column_values

print(df)

     A    B  C
0  NaN  NaN  1

In [30]:
import pandas as pd

"""
# Create an empty DataFrame with column names
df = pd.DataFrame(columns=['A', 'B', 'C'])

# Define values for the new row
new_row_values = {'type': 'cat', 'A': 10, 'B': 20}  # Example values

# Convert the new row values into a DataFrame
new_row_df = pd.DataFrame([new_row_values])

# Concatenate the new row DataFrame with the original DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)

# Define values for the new row
new_row_values = {'type': 'dog', 'A': 10, 'B': 20}  # Example values

# Convert the new row values into a DataFrame
new_row_df = pd.DataFrame([new_row_values])

# Concatenate the new row DataFrame with the original DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)
"""

df = pd.DataFrame()
# Define values for the new row
new_row_values = {'type': 'dog', 'A': 10, 'B': 20}  # Example values

# Convert the new row values into a DataFrame
new_row_df = pd.DataFrame([new_row_values])

df = pd.concat([df, new_row_df], ignore_index=True)

print(df)

  type   A   B
0  dog  10  20

In [31]:
df.loc[df['type'] == 'cat']

Empty DataFrame
Columns: [type, A, B]
Index: []

In [32]:
# Modify only the 'A' column value in the row where 'type' == 'cat'
df.loc[df['type'] == 'cat', 'A'] = 100

print(df)

  type   A   B
0  dog  10  20

In [33]:
# Define the new column name and its value
new_column_name = 'D'
new_column_value = 'new_value'  # Example new value for the new column

# Add a new column to the row where 'type' == 'cat' and assign the new value
df.loc[df['type'] == 'cat', new_column_name] = new_column_value

print(df)

  type   A   B    D
0  dog  10  20  NaN